@charset "UTF-8";

body{
    background-image:url(Wallpaper.png);
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
}

figure{
    padding: 50px 50px 50px 50px;
    border: 8px solid black;
    margin: 10px 5px 20px 5px;
    display: inline-block;
}

figure img{
    height: 200px;
    width: 200px;
}
