@charset "UTF-8";

body{
    background-image:url(Wallpaper.jpg);
    background-attachment:fixed;
    background-size:auto;
    background-repeat:no-repeat;
}

p{
    font-size: 24px;
    text-align: justify;
    text-indent: 50px;
    color:white;
}

figure{
    display: inline-block;
}

#Demo{
    color : pink;
}

#Titulo{
    color : blue;
    text-align: center;
}

#Pillar{
    color : yellow;
    text-align: center;
}

.Demon-img{
    border: 8px solid black;
}

.Demon-img img{
    width: auto;
    height: auto;
}

.JoJo-img{
    border: 8px solid white;
    box-shadow:1px 1px 4px black;
}

.JoJo-img img{
    width: auto;
    height: auto;
}
